.menu {
  margin:auto;
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 80%;
  max-width: 60rem;
  font-size: 1.5rem;
}

.menuButton {
  color: #ea00ff;
} 
.menuButton:hover {
  color: #7d00c5;
}

.total {
  font-size: 1.3rem;
  color: #7d00c5;
  background-color: #00eeff;
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Sunshiney', cursive;
  font-size: 4rem;
  color: #7d00c5;
  margin: 0;
}

.orders {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.orderBox {
  display: grid;
  width: 80%;
  min-width: 13rem;
  max-width: 60rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: white;
  background-color: #7d00c5;
  border-radius: 0.5rem;
  border: 0.3rem solid #5e0094;
}

.orderName {
  font-size: 1.3rem;
  color: #ffb6e7;
}
.orderNamePickup {
  font-size: 1.3rem;
  color: #00eeff;
}

.orderTime {
  font-size: 1.3rem;
  color: #00eeff;
  /* font-weight: bold; */
}

.pickupTime {
  font-size: 1rem;
  color: #ffb6e7;
}

.orderStatus {
  /* display: grid; */
  display: flex;
  position: absolute;
  justify-self: end;
}

.itemBox {
  display: grid;
  /* width: 95%; */
  /* border: white solid; */
  padding: 0.5rem;
  /* margin: 0.5rem; */
}

.itemName {
  font-size: 1.3rem;
  background-color: #ea00ff;
}
.itemOthersName {
  font-size: 1rem;
  background-color: #aa17ff;
}

.itemToppings {
  display: flex;
}

.itemTopping {
  padding: 0.2rem 0.5rem 0 0;
}

.statusButton {
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /* border: 1px solid black; */
  padding: 0 0.2rem;
  background-color: #ea00ff;
  border-radius: 0.2rem;
  margin: 0 0.3rem;

}

.statusButton:hover {
  background-color: #00eeff;
}

.dealTitle {
  font-size: 1.3rem;
  color: #ffb6e7;
  margin: 0;
}

.empty {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  position: relative;
}

.hoursBox {
  display: grid;
  width: 80%;
  min-width: 13rem;
  max-width: 60rem;
  padding: 0.5rem;
  margin: 0.5rem;
  color: white;
  background-color: #7d00c5;
  border-radius: 0.5rem;
  border: 0.3rem solid #5e0094;
}
.hourTitle {
  font-size: 1.3rem;
  color: #ffb6e7;
  margin: 0;
}
.hoursUpdate {
  position: relative;
  /* align-items: center; */
  padding: 0.25rem;
}
.changeTime {
  /* display: grid; */
  position: relative;
  /* position: absolute; */
  bottom: 0.15rem;
  width: 5.7rem;
  margin: 0.3rem;
  /* margin-bottom: 0.7rem; */
  padding: 0;
  /* font-size: 0.8rem; */
}
.changeNotice {
  display: flex;
  position: relative;
  /* position: absolute; */
  /* bottom: 0.15rem; */
  width:83%;
  max-width:27rem;
  margin: 0.2rem 0;
  /* margin-bottom: 0.7rem; */
  padding: 0;
  font-size: 0.8rem;
}
.updateNoticeButton {
  /* position: absolute; */
  /* display: flex; */
  /* align-items: center; */
  align-self: center;
  /* justify-self: center; */
  /* justify-items: center; */
  position: relative;
  /* right: -0.1rem; */
  margin: 0 0.3rem;
  /* padding: 0.3rem; */
  max-height: 1.6rem;
  font-family: 'Big Shoulders Display', cursive;
  border-radius: 0.3rem;
  /* bottom: 0.1rem; */
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  color:#ea00ff;
}
.updateTimeButton {
  /* position: absolute; */
  position: relative;
  right: 0.5rem;
  margin: 0.3rem 0.5rem;
  /* padding: 0; */
  font-family: 'Big Shoulders Display', cursive;
  border-radius: 0.3rem;
  /* bottom: 0.1rem; */
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  color:#ea00ff;
}
.inputAndSubmit {
  display: flex;
  padding: 0;
  margin: 0;
  height: 1.6rem;
}
.inputFieldLabel {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* text-align: right; */
}


.drinks {
  position: relative;
  display: grid;
  width: 18rem;
  /* min-width: 13rem; */
  /* max-width: 17rem; */
  padding: 0.5rem;
  margin: 0.5rem;
  color: white;
  background-color: #7d00c5;
  border-radius: 0.5rem;
  border: 0.3rem solid #5e0094;
}
.desserts {
  position: relative;
  display: grid;
  width: 15rem;
  /* min-width: 13rem; */
  /* max-width: 17rem; */
  padding: 0.5rem;
  margin: 0.5rem;
  color: white;
  background-color: #7d00c5;
  border-radius: 0.5rem;
  border: 0.3rem solid #5e0094;
}

.drinksUpdate {
  align-items: center;
  padding: 0.25rem;
}
.dessertsUpdate {
  align-items: center;
  padding: 0.25rem;
}

.inventoryName {
  display: inline-block;
  font-size: 1.2rem;
  color: #00eeff;
}
.dessertName {
  display: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 0;
  font-size: 1.2rem;
  color: #00eeff;
}
.inventoryNumber {
  display: inline-block;
  font-size: 1.2rem;
  color: #00eeff;
}

.updateInventoryButton {
  position: absolute;
  right: 0.5rem;
  /* margin: 0.3rem; */
  /* padding: 0; */
  font-family: 'Big Shoulders Display', cursive;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  color:#ea00ff;
}

.addToInventory {
  position: absolute;
  right: 3.8rem;
  align-items: center;
  width: 2.5rem;
  /* font-size: 0.8rem; */
}